.form-wrapper {
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid rgb(207, 46, 46);
    background-color: rgb(252, 229, 199);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-wrapper * {
    width: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 10px;
    border: none;
    height: 2em;
    padding: 10px;
}

.button {
    width: 150px;
    height: 40px;
    border: 1px solid burlywood;
}